.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.headerLink{
    text-decoration: none;
    font-size: 120px;
    font-weight: bold;
    color: #47a3ff;
    font-family: fancyFont;
    cursor: pointer;
}